<!DOCTYPE html>
<html>
<head>
  <title>Caddie</title>
  <%= stylesheet_link_tag    "caddie/application", media: "all" %>
  <%= javascript_include_tag "caddie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
